@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');


body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    color : #333;
    justify-content: space-between;
    box-sizing: border-box;
}
body, form {
    margin: 0;
    padding: 0;
  }
  
header{
    width: 100%;
    height: 60px;
    background-color: #000000;
    color: #fdfeff;
    align-content: center;
    position: fixed;
}

header nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-left: 25px;
    padding-right: 50px;
    
    
}

header nav a{
    text-decoration: none;
    color: #fdfeff;
}

main{
    box-sizing: border-box;
    background-image: url('../images/fondo-presentacion.jpg'); /* Ruta de la imagen */
    background-size: cover; /* Cubre todo el fondo */
    background-position: center; /* Centra la imagen */
    color: #fdfeff;

}
#presentacion{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content:center;
    box-sizing: border-box;
    padding-top: 50px;
}

#redes a{
    margin: 5px;
}
.cards-presentacion{
    width: 80%;
    display: flex;
    justify-content: space-around;
    color: #fdfeff;
}

#container-imagen-perfil{
    padding-top: 60px;
}
#container-imagen-perfil img{
    width: 100%;
    height: 80%;
} 
#container-perfil{
    align-content: center;
    
}

#container-perfil h2,h1{
    font-style: 2rem;
}

#container-perfil ul{
    list-style: none;
    display: flex;
    width: 100%;
    padding: 0;
    align-items: center;
}


#Sobre-mi{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: 10px;
    margin-top: 150px;
    color: #fdfeff;
    font-size:large;
    line-height: 1.6; /* Aumenta el espacio entre líneas */

}

#Sobre-mi h2{
    font-size: 2rem;
}

#Sobre-mi div{
    width: 60%;
    text-align: center;
}

#skills{
    display: flex;
    flex-wrap: wrap;
    margin-top: 150px;
    height: auto;
}

#skills h2{
    width: 100%;
    height: auto;
    text-align: center;
    
}
#title-skills{
    font-size: 2rem;
}

#skills .container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}
#skills ul{
    list-style: none;
    width: 70%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    width: 200px;
    align-items: center;
    text-align: center;
}

.card h2{
    margin: 0;
    font-size: 1.5rem;
}


#Contacto{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-top: 150px;
    padding-bottom: 100px;
    gap: 10px;
}

#Contacto h2{
    width: 100%;
    text-align: center;
}

#Contacto img{
    width: 30%;
    height: 50%;
}
form{
    width: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden; /* Evita que los elementos sobresalgan */
    gap: 30px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

form h3{
    padding: 10px;
    font-size: 1.8rem;
}

.primer-fila{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* padding: 10px; */
}
.form-name{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.form-email{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.form-message{
    display: flex;
    flex-direction: column;
    /* margin: 15px */;
    width: 100%;
    /* padding: 10px; */
}

form button{
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #001f3f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}


form input,textarea{
    padding: 10px;
    border: 2px solid #2417ba; /* Bordes de color verde */
    border-radius: 8px; /* Bordes redondeados */
    outline: none; /* Quitar el borde azul al hacer clic */
    background-color: #333;
    color: #fdfeff;
    resize: none;
    font-family: 'Montserrat', sans-serif;
}

textarea{
    height: 60px;
}

footer{
    width: 100%;
    text-align: center;
    background-color: #000000;
    color: #fdfeff;
    padding: 20px 0px 20px 0px;
    font-size: small;
}
footer h2{
    margin: 0;
    padding: 0;
}


/* Scroll suave */
html {
    scroll-behavior: smooth;
}
